@font-face {
    font-family: allerta;
    src: url('fonts/AllertaStencil-Regular.ttf');
}
@font-face {
    font-family: wt;
    src: url(fonts/Amarurgt.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

h2, h3, h4, h1 {
    font-family: allerta;
    color: white;
    -webkit-text-stroke: 2px gray;
    margin: 0;
    padding: -3vh;
}

h1{
    font-size: 20vh;
    font-family: wt;
    margin-bottom: -5vh;
}
h2{
    font-size: 10vh;
}
h3{
    font-size: 7vh;
}
h4{
    font-size: 5vh;
}
#background {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;

}

#content {
    position: absolute;
    width: 100%;
    display: grid;
    height: 20vh;
    top: 80vh;
    grid-template-columns: auto auto auto;
}
#contentbox {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#title {
    margin-top: 5vh;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}