@font-face {
    font-family: allerta;
    src: url('fonts/AllertaStencil-Regular.ttf');
}
@font-face {
    font-family: wt;
    src: url(fonts/Amarurgt.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

h2, h3, h4, h1 {
    font-family: allerta;
    color: white;
    -webkit-text-stroke: 1px gray;
    margin: 0;
    padding: -3vh;
}

h1{
    font-size: 20vh;
    font-family: wt;
    margin-bottom: -5vh;
}
h2{
    font-size: 10vh;
}
h3{
    font-size: 12vh;
}
h4{
    font-size: 5vh;
}
#background {
    position: absolute;
    
    height: 100%;
    z-index: 0;
}
#tobattle {
    position: absolute;
    left: 30vw;
    right: 30vw;
    width: 40vw;
    text-align: center;
    top: 70vh;
}

#content {
    position: absolute;
    width: 100%;
    display: grid;
    
    height: 20vh;
    top: 80vh;
    grid-template-columns: 40vw 40vw;
    gap: 20vw;
}
#contentbox {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    
    transition: 0.5s ease;
    border-radius: 25px;
}
#title {
    margin-top: 5vh;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contentbox:hover{
    scale: 1.1;
}

#arrowleft{
    width: 15vw;
    height: 10vh;
    background-image: url(imgs/AIM-9MArrow.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 45vh;
    left: 5vw;
    background-position: center;
    transition: 1s ease;
}
#arrowright{
    width: 15vw;
    height: 10vh;
    background-image: url(imgs/AIM-9MArrowRight.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    top: 45vh;
    left: 80vw;
    transition: 1s ease;
}
#main{
    width: 100vw;
    height: 100vh;
    background-image: url(imgs/backgroundsky.png);
    background-repeat: repeat;
    background-size: 400%;

}
#arrowright:hover{
    left: 82vw;
    animation: rightarrowanimate infinite 2s 0.2s ease-in-out;
}
#arrowleft:hover{
    left: 3vw;
    animation: leftarrowanimate infinite 2s 0.2s ease-in-out;
}
@keyframes leftarrowanimate {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-1vw);
    }
}
@keyframes rightarrowanimate {
    0%{
        transform: translateX(0);   
    }
    50%{
        transform: translateX(1vw);
    }
}

#russia, #germany, #amerika, #sweden{
    width: 55vw;
    height: 70vh;
    position: absolute;
    top: 15vh;
    left: 22.5vw;
}

#russia {
    left: 122.5vw;
}
#germany{
    left: 22.5vw;
}
#amerika{
    left: 222.5vw;
}
#sweden{
    left: 322.5vw;
}

